[Unit]
Description=Prometheus Alertmanager service
After=network.target

[Service]
User=prometheus
ExecStart=/usr/bin/alertmanager -config.file=/etc/alertmanager/alertmanager.yml -storage.path=/var/lib/prometheus/alertmanager/data
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
